@import "tailwindcss";

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

/* Define custom theme colors for Tailwind v4 */
@theme {
  --color-dap-primary: #bf5700;
  --color-ut-charcoal: #333f48;
  --color-ut-off-white: #d6d2c4;

  --font-family-staatliches: Staatliches, cursive;
  --font-family-roboto-flex: "Roboto Flex", sans-serif;
}
