# .github/workflows/ci.yml
name: CI

on: [push, pull_request]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install bun
        uses: oven-sh/setup-bun@v1
      - name: Check types
        run: |
          bun install
          bun run compile
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install bun
        uses: oven-sh/setup-bun@v1
      - name: Lint
        run: |
          bun install
          bun run eslint

  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install bun
        uses: oven-sh/setup-bun@v1
      - name: Format
        run: |
          bun install
          bun prettier . --check

  create-artifact:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install bun
        uses: oven-sh/setup-bun@v1
      - name: Build extension
        run: |
          bun install
          bun run build
          cd .output/chrome-mv3
          zip -r ../extension.zip .
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: extension-${{GITHUB_SHA}}
          path: .output/extension.zip
